body {
  display: grid;
  background-image: url("bg.jpeg");
  background-size: cover;
  overflow: hidden;
  user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#field {
  background: #beff3b;
  background: linear-gradient(90deg, rgba(190, 255, 59, 1) 0%, rgba(134, 181, 33, 1) 50%, rgba(237, 221, 83, 1) 100%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  text-align: center;
  align-content: center;
  word-wrap: break-word;
  white-space: normal;
  width: 80vmin;
  height: 40vmin;
  font-size: 8vmin;
  border: 1vmin black solid;
}
#settings {
  display: block;
  margin: auto;
  margin-right: 0;
  margin-bottom: 1vmin;
  width: auto;
  height: auto;
  font-size: 3vmin;
  text-align: center;
  background-color: #edd28f;
  border: 1vmin black solid;
}
#spin {
  position: fixed;
  left: 0;
  right: 0%;
  top: 80%;
  bottom: 0%;
  margin: auto;
  align-self: center;
  margin: auto;
  width: 17vmin;
  height: 7vmin;
  font-size: 5vmin;
  text-align: center;
  color: aliceblue;
  background-color: red; 
}
#inputbox-text {
  resize: none;
  margin: auto;
  margin-right: 0;
  margin-bottom: 1vmin;
  width: auto;
  height: auto;
  font-size: 3vmin;
  text-align: center;    
}
#input {
  background-color: #edd28f;
  background-size: contain;
  color: blueviolet;
  resize: none;
  margin: auto;
  margin-right: 0;
  margin-bottom: 1vmin;
  width: auto;
  height: auto;
  font-size: 3vmin;
  text-align: center;    
}
#text-loader, #image-loader {
  background-color: #edd28f;
  background-size: contain;
  color: blueviolet;
  resize: none;
  margin: auto;
  margin-right: 0;
  margin-bottom: 1vmin;
  width: auto;
  height: auto;
  font-size: 2vmin;
  text-align: center; 
  border: 1vmin black solid
}